.socialMediaSection {
  width: 15rem;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding-left: 4rem;
}

@media (max-width: 1024px) {
  .socialMedia {
    padding-left: 7rem;
  }
}


