.contactPage {
  background-color: var(--color-general-background);
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.sendMessageText {
  font: var(--font-principle-title);
  width: 25rem;
  text-align: center;
}

.symbolSection {
  width: 40%;
  margin-top: 3.5rem;
  margin-left: 9rem;
}

.blueSymbol {
  margin-left: 4rem;
}

.whiteSymbol {
  margin-top: -10.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.orangeSymbol {
  margin-top: -12rem;
  margin-left: 11rem;
}

.contactForm {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  margin-left: 7rem;
}

.nameContact,
.emailContact {
  height: 3rem;
}

.messageContact {
  height: 12rem;
}

.nameContact,
.emailContact,
.messageContact {
  background-color: var(--color-contact-form);
  font: var(--font-tertiary-title);
  border: 1px solid var(--color-tertiary);
  color: var(--color-tertiary);
}

.nameContact::placeholder,
.emailContact::placeholder,
.messageContact::placeholder {
  color: var(--color-tertiary);
  padding-left: 1rem;
}

.messageContact::placeholder {
  padding-top: 1rem;
}

.sendButton {
  background-color: var(--color-secondary);
  color: var(--color-general-background);
  font: var(--font-tertiary-title);
  border-radius: 20px;
  width: 10rem;
  height: 2.5rem;
  border: none;
  z-index: 1;
}

@media (max-width: 1024px) {

  .contactPage {
    flex-direction: column;
    align-items: center;
  }

  .contactForm {
    margin-top: -25rem;
    width: 80%;
    margin-left: 0;
  }

  .symbolSection {
    margin-right: 29rem;
  }

  .sendMessageText {
    margin-left: 2rem;
  }
}