.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-general-background);
  height: 4rem;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.footerLine {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 100%;
  height: 1.3px;
  background-color: var(--color-tertiary);
}

.symbolLogo {
  margin-left: 5rem;
}