.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-general-background);
  height: 6rem;
  align-items: center;
  width: 100%;
}

.navigationSection {
  width: 30rem;
  margin-left: 2rem;
}

.pageNavigations {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.headerLink {
  color: var(--color-tertiary);
  font: var(--font-principle-menu);
}

.mainLogo {
  display: flex;
  align-self: center;
  margin-top: 1.75rem;
}

.searchBar {
  width: 9rem;
}
