
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-general-background);
  height: 6rem;
  align-items: center;
  width: auto;
  padding-right: 2rem;
}

.navigationSection {
  width: 30rem;
  margin-left: 2rem;
}

.pageNavigations {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.headerLink {
  color: var(--color-tertiary);
  font: var(--font-principle-menu);
}

.mainLogo {
  display: flex;
  align-self: center;
  margin-top: 1.75rem;
  position: relative;
}

.searchBar {
  width: 10rem;
}

.dropDownMenu {
  display: none;
}

.dropDownMenu>li {
  margin: 0 1rem;
  overflow: hidden;
  display: none;
}

.mobileSocial {
  display: none;
}

.menuContainer {
  display: none;
  height: 100%;
  width: 3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specialSocialNavBarMobile {
  display: none;
}


.hamburgerMenu {
  display: none;
}

.menuButton::before,
.menuButton::after {
    display: block;
    background-color: var(--color-tertiary);
    z-index: 1;
    height: 0.25rem;
    width: 1.875rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 0.125rem;
    content: '';
}

.menuButton::before {
    margin-top: -0.5rem;
}

.menuButton::after {
    margin-top: 0.5rem;
}

.hamburgerMenu:checked + .menuContainer .menuButton::before {
  margin-top: 0;
  transform: rotate(45deg);
}

.hamburgerMenu:checked + .menuContainer .menuButton {
  background: var(--color-general-background);
}

.hamburgerMenu:checked + .menuContainer .menuButton::after {
  margin-top: 0;
  transform: rotate(-45deg);
}

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: var(--color-tertiary);
  position: absolute;
  height: .25rem;
  width: 1.875rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: .125rem;
}

@media (max-width: 992px) {

  .header {
    height: 7rem;
    overflow-x: hidden;
  }

  .mainLogo {
    margin-left: 1rem;
    margin-top: 0;
    height: 5.5rem;
    width: 5.5rem;
  }

  .navigationSection {
    display: none;
  }

  .searchBar {
    display: none;
  }

  .specialSocialNavBar {
    display: none;
  }

  .menuContainer {
    display: flex;
    margin-top: 1rem;
  }

  .dropDownMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-top: 6rem;
    width: 89%;
    z-index: 1;
    background-color: var(--color-general-background);
    color: var(--color-tertiary);
  }

  .hamburgerMenu~.dropDownMenu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburgerMenu:checked~.dropDownMenu li {
    height: 2.5rem;
    padding: 0.5rem;
    transition: height 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .dropDownMenu>li {
    display: flex;
    justify-items: center;
    color: var(--color-tertiary);
    padding: 0;
    margin: 0;
  }

  .dropDownMenu>li>a {
    color: var(--color-tertiary);
    font: var(--font-text-hamburger);
    margin-top: 1rem;
    margin-left: 6rem;
  }

  .specialSocialNavBarDesktop {
    display: none;
  }

  .specialSocialNavBarMobile {
    display: flex;
    margin-left: 1rem;
  }

}