.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-general-background);
  height: 6rem;
  align-items: center;
}

.navigationSection {
  width: 30rem;
  margin-left: 2rem;
}

.pageNavigations {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style: none;
}

.headerLink {
  color: var(--color-tertiary);
  text-decoration: none;
}

.mainLogo {
  display: flex;
  align-self: center;
  margin-top: 1.75rem;
}

.socialMediaSection {
  width: 15rem;
  display: flex;
}

.searchBar {
  width: 15rem;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding-left: 4rem;
}
