.doctorImage {
  margin-top: 2rem;
}

.doctorOrdinalNumber {
  font: var(--font-secondary-title);
}

.actorName {
  font: var(--font-text-italic);
  letter-spacing: 0.5px;
}

.screenTime {
  font: var(--font-text-regular);
  letter-spacing: 0.3px;
}

@media (max-width: 992px) {

  .doctorImage {
    width: 17rem;
    height: 24rem;
  }

  .doctorOrdinalNumber {
    letter-spacing: 1px;
  }
  
  .actorName {
    font: var(--font-text-italic);
    letter-spacing: 1px;
  }
  
  .screenTime {
    font: var(--font-text-regular);
    letter-spacing: 1px;
  }

}
