.doctorTitle {
  font: var(--font-principle-title);
  margin-left: 5.5rem;
}

.doctorContainer {
  background-color: var(--color-general-background);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

