.carouselContainer {
  height: 90vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselImage {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
}

.title {
  color: blue;
  font: var(--font-principle-title);
  position: relative;
  z-index: 999;
}

.specialButton {
  z-index: 999;
  display: block;
}

.dots {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid var(--color-tertiary);
  background-color: transparent;
  cursor: pointer;
}

.activeDot {
  background-color: var(--color-secondary);
}

@media (max-width: 992px) {

  .carouselImage {
    width: 10rem;
    height: 20rem;
  }

}