.seeMoreButton {
  background-color: var(--color-secondary);
  border-radius: 20px;
  width: 10rem;
  height: 2.5rem;
  border: none;
  margin-top: 1.5rem;
  z-index: 1;
}

.buttonLink {
  color: var(--color-general-background);
  font: var(--font-tertiary-title);
}
